aiofiles==0.8.0
anyio==3.4.0
asgiref==3.4.1
caio==0.9.3
click==8.0.3
colorama==0.4.4
fastapi==0.70.1
h11==0.12.0
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.0.1
pydantic==1.8.2
python-multipart==0.0.5
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
typing_extensions==4.0.1
uvicorn==0.16.0