<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bucket</title>
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', path='/img/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', path='/js/qrcode.min.js') }}"></script>
    <style>
        .table {
            outline-style: solid;
            outline-width: 1px;
            outline-color: #d0d7de;
            border-radius: 6px !important;
        }

        .table>tbody>tr {
            padding: 8px 16px;
        }

        a:hover {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="https://github.com/DimCyan/ffserver">FFServer</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <form class="navbar-form navbar-right" id="upload-file" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="file" id="fileobj" required />
                            </div>
                            <button type="submit" class="btn btn-default">Upload⬆️</button>
                        </form>
                    </div>

                </nav>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <ul class="breadcrumb">
                            <li>
                                <a href="/">🏠</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% if obj_list == [] %}
                <div class="alert alert-dismissable alert-warning">
                    <h4>
                        <strong>Warning!</strong>
                    </h4>
                    This folder is empty! 👉 <a href="javascript:history.back();" class="alert-link">Go Back</a>
                </div>
                {% else %}
                <table class="col-md-6 table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 60%;">Name</th>
                            <th style="width: 20%">ModifyTime</th>
                            <th style="width: 10%" class="text-right">Size</th>
                            <th style="width: 10%" class="text-right">QR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in obj_list %}
                        <tr>
                            <td>
                                <a id="test" class="objname" href="{{obj.file_name}}">
                                    {{ obj.type }} {{obj.file_name}}
                                </a>
                            </td>
                            <td>
                                {{obj.modify_time}}
                            </td>
                            <td class="text-right">
                                {% if obj.type == '📁' %}
                                ~
                                {% else %}
                                {{obj.size}}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <p id="qr_btn" data-toggle="modal" data-target="#QRModal"
                                    onclick="get_qr('{{ obj.file_name }}')">👁‍🗨</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="QRModal" tabindex="-1" role="dialog" aria-labelledby="QRModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 300px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="QRModalLabel">QRCode</h3>
                </div>
                <div class="modal-body" id="qrcode"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        //QRCode function
        function get_qr(str) {
            $('#qrcode').html('');
            var qrcode = new QRCode(document.getElementById("qrcode"), window.document.location.href + '/' + str);
        };
        $(document).ready(function () {
            // modify breadcrumb
            var curWwwPath = window.document.location.href;
            var pathName = window.document.location.pathname;
            var pos = curWwwPath.indexOf(pathName);
            var localhostPath = curWwwPath.substring(0, pos);
            var path_list = pathName.split("/").filter(function (s) {
                return s && s.trim();
            });
            for (let i = 1; i < path_list.length; i++) {
                if (i == path_list.length - 1) {
                    $('.breadcrumb').append('<li class="active" >' + path_list[i] + '</li>');
                } else {
                    $('.breadcrumb').append('<li>' + '<a href=' + genBreadcrumbPath(i) + '>' + path_list[i] +
                        '</a>' + '</li>');
                }
            };

            function genBreadcrumbPath(crumb_num) {
                var final_path = localhostPath + '/' + path_list[0];
                for (let i = 1; i <= crumb_num; i++) {
                    final_path = final_path + '/' + path_list[i];
                };
                return final_path;
            };

            function genRestPath() {
                var restPath = '';
                for (let i = 1; i < path_list.length; i++) {
                    restPath = restPath + '/' + path_list[i];
                };
                return restPath;
            };
            // modify timestamp
            function timeStamp2String(time) {
                var datetime = new Date();
                datetime.setTime(time * 1000);
                var year = datetime.getFullYear();
                var month = datetime.getMonth() + 1;
                var date = datetime.getDate();
                var hour = datetime.getHours();
                var minute = datetime.getMinutes();
                var second = datetime.getSeconds();
                return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
            };
            $('tbody tr td:nth-child(2)').each(function () {
                $(this).html(timeStamp2String($(this).text()));
            });
            // modify object href attribute
            $('tbody tr td:nth-child(1)').each(function () {
                $(this).find(".objname").attr("href", window.location.href + "/" + $(this).find(
                    ".objname").attr("href"));
            });
            // upload file method
            $('#upload-file').on('submit', function (e, form) {
                e.preventDefault();
                var restPath = genRestPath();
                var file = $('#fileobj')[0].files[0];
                let formData = new FormData(form);
                formData.append('file', file);
                $.ajax({
                    url: `/file/${restPath}`,
                    type: "POST",
                    'contentType': false,
                    'processData': false,
                    'mimeType': 'multipart/form-data',
                    'data': formData,
                    success: function () {
                        location.reload();
                    }
                });
            });
        });
    </script>
</body>

</html>